body {
    font-family: 'Space Mono', monospace;
}

a {
    color: #000;
    border-bottom: 1px dotted #000;
}

a:hover {
    color: #000;
    border-bottom: 1px solid #000;
    text-decoration: none;
}


/* Navbar */

.bg-dark {
    background-color: #000!important;
    border-bottom: 1px solid #fff;
}

.nav-item {
    padding: 1rem 1.5rem!important;
}


.jumbotron {
    background: #000;
    color: #fff;
    margin-bottom: 5rem;
}

.btn {
    padding: 1rem 2rem;
}



.apl-jumbotron-image {
    filter: blur(2px);
}

.apl-jumbotron-image:hover {
    filter: blur(0px);
}

.apl-content-text {
    font-size: 1.5rem;
}

.apl-eod {
    margin-bottom: 3rem;
}